{% extends 'bas.html' %}
{% load static %}
{% block content %}

            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="bradcam_text text-center">
                            <h3>Wildlife Album</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / bradcam_area  -->
    <!-- gallery_area  -->
    <div class="gallery_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-7">
                    <div class="section_title text-center mb-50">
                        <h3>My world class photography</h3>
                        <p>When it comes to giving life to photography,
                            Thats one thing i love doing and keep doing
                            over and over again !!!!
                            .</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row no-gutters ">
                <div class="col-xl-4 col-md-4">
                      {% for alb in album %}
                    <div class="single_photography">
                        <div class="thumb">
                            <img src="{{ alb.image.url }}" alt="">
                        </div>
                        <a  href="baby_gallery.html" class="hover ">
                            <div class="hover_inner">
                                <h3> {{ alb.name }}</h3>
                                <span>Hunted by STC</span>
                            </div>
                        </a>
                    </div>
                     {% endfor %}
                </div>

            </div>
        </div>
    </div>
    <!-- /gallery_area  -->

    <!-- testimonial_area  -->
    <div class="testimonial_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                </div>
            </div>
        </div>
    </div><br/><br/><br/><br/>
    <!-- /testimonial_area  -->


    <div class="contact_info_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="cotact_info">
                        <div class="section_title">
                                <h3>Contact Us</h3>

                        </div>
                        <div class="address_info">
                            <h4>Address</h4>
                            <ul class="Address" >
                                <li>
                                     27, CELE BUSTOP IJEDE LAGOS STATE
                                </li>
                                <li>
                                        07063201688
                                </li>
                                <li>
                                        <a href="#">moadeyinka@student.lautech.edu.ng</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
