{% extends 'bas.html' %}
{% block content %}

<h1>Model Details</h1>
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">

 {% csrf_token %}
    Full Name:
    <br/>
    <input type="text" name="Name" />
    <br/>
    About You:
    <br/>
    <input type="textbox" name="body" />
    <br/>
    Icon:
    <br/>
    <input type="file" name="icon" />
    <br/>
    Image:
    <br/>
    <input type="file" name="image" />
    <br/>
    <br/>
    <input class="btn btn-primary" type="submit" value="Register Info"/>
</form>

{% if error %}
{{ error }}
<br/>
<br/>
{% endif %}

{% endblock %}